.ilustracion {
    position: relative; 
    background-image: linear-gradient(
      rgba(0, 255, 255, 0.1), 
      rgba(0, 255, 255, 0.1)
    ),
    url('../assets/WhatsApp\ Image\ 2022-03-21\ at\ 12.03.28\ AM.jpeg');
    top: 70px;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
}